body {
  width: 1470px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1025px;
  padding: 0 60px 0 60px;
}

a {
  margin-top: 10px;
  font-size: 21px;
  line-height: 30px;
  color: #454545;
  font-weight: 400;
  font-family: "Poppins";
}

nav {
  background-color: #f8dcbf;
}
.nav-list {
  padding: 13px;
  display: flex;
  justify-content: space-around;
  margin-left: 600px;
  width: 800px;
}
.nav-item {
  font-size: 15px;
  text-decoration: none;
  color: #454545;
  font-weight: 600;
  font-family: "Poppins";
}
.portfolio {
  position: absolute;
  width: 450px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

li {
  list-style-type: none;
}

.about_me {
  padding: 30px 0 100px 0;
}
.about_wrapp {
  margin-top: 50px;
  margin-left: 600px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 75px;
  line-height: 75px;
  color: #454545;
  font-weight: 500;
  font-family: "Poppins";
}

h2 {
  margin-top: 25px;
  font-size: 33px;
  letter-spacing: 3px;
  line-height: 40px;
  color: #454545;
  font-weight: 400;
  font-family: "Poppins";
}



.about_title {
  margin-top: 50px;
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 23px;
  color: #454545;
  font-weight: 600;
  font-family: "Poppins";
}

.line {
  width: 49px;
  height: 2px;
  background-color: #454545;
  margin-top: 19px;
}

.about_text {
  margin-top: 10px;
  font-size: 15px;
  line-height: 35px;
  color: #454545;
  font-weight: 300;
  font-family: "Poppins";
}

.contacts {
  padding: 50px 0 35px;
  background-color: #f1e7dd;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 10px;
}

.contacts_wrapp {
  margin-top: 10px;
}


.contacts_title {
  margin-bottom: 30px;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 20px;
  color: #454545;
  font-weight: 600;
  font-family: "Poppins";
}

.contacts_item {
  margin-top: 10px;
  font-size: 21px;
  line-height: 30px;
  color: #454545;
  font-weight: 400;
  font-family: "Poppins";
}

.contacts_item:hover {
  color:blue;
}

.contacts_item::before {
 
}

.skills {
  margin-top: 35px;
  padding: 50px 0px 35px 0px;
  background-color:#f8dcbf;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 10px;
}

.skills_title {
  margin-bottom: 30px;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 20px;
  color: #454545;
  font-weight: 600;
  font-family: "Poppins";
}

.skills_item {
  margin-top: 10px;
  font-size: 21px;
  line-height: 30px;
  color: #454545;
  font-weight: 400;
  font-family: "Poppins";
}

.code {
  margin-top: 35px;
  padding: 50px 0 35px 0;
  background-color: #f7d8d5;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 10px;
}

.code_title {
  margin-bottom: 30px;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 20px;
  color: #454545;
  font-weight: 600;
  font-family: "Poppins";
}

.code_items {
  margin-top: 20px;
  display: flex;
  width: 1100px;
  justify-content: space-between;
}

.code_item {
  margin-top: 10px;
  font-size: 21px;
  line-height: 30px;
  color: #454545;
  font-weight: 400;
  font-family: "Poppins";
}

.education {
  margin-top: 35px;
  padding: 50px 0 35px 0;
  background-color: #f7d8d5;
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

.education_title {
  margin-bottom: 30px;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 20px;
  color: #454545;
  font-weight: 600;
  font-family: "Poppins";
}

.education_item {
  margin-top: 10px;
  font-size: 21px;
  line-height: 30px;
  color: #454545;
  font-weight: 400;
  font-family: "Poppins";
}

.languages {
  margin-top: 35px;
  padding: 50px 0 35px;
  background-color: #f8dcbf;
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

.languages_title {
  margin-bottom: 30px;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 20px;
  color: #454545;
  font-weight: 600;
  font-family: "Poppins";
}

.languages_item {
  margin-top: 10px;
  font-size: 21px;
  line-height: 30px;
  color: #454545;
  font-weight: 400;
  font-family: "Poppins";
}

footer {
  padding: 20px 0 20px 0;
}
 
.footer_nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.icons {
  height: 60px;
}

.projects {
  margin-top: 35px;
  padding: 50px 0 35px;
  background-color: #f1e7dd;
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

.project_1 {
  width: 300px;
  height: 150px;
  margin-top: 20px;
}

.project_1:hover {
  cursor: pointer;
 filter: blur(1px);
 opacity: .5;
}

.projects_title {
  margin-bottom: 30px;
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 20px;
  color: #454545;
  font-weight: 600;
  font-family: "Poppins";
}

.project_name {
  margin-top: 15px;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 10px;
  color: #454545;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  
}

.projects_wrapper {
  display: flex;
  justify-content: space-around;
  
}

.project_2 {
  width: 300px;
  height: 150px;
  margin-top: 20px;
 
}

.project_2:hover {
  cursor: pointer;
 filter: blur(1px);
 opacity: .5;
}

a {
  text-decoration: none;
}


